    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <style>
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
        }
    </style>
    <body>
        <div class="container">
        <h1>Register here please</h1>
        <form action="/signup" method="POST">
            <label for="fullname">Name</label>
            <input type="text" id="fullname" name="fullname" placeholder="enter name">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="enter mail">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" placeholder="enter password">
            <button type="submit">signup</button>
        </form>
        </div>
    </body>
    </html>